# Environment files
.env
.env.template

# Terraform state and plan files
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
tfplan
.terraform

# Virtual environment directories
myenv/

.terraform/
.terraform/
